<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>

</header>



<main>

<div class="kurv-side">
    <table class="orders">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Email</th>
            <th>Date</th>
            <th>Topping</th>
            <th>Bottom</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <td th:text="${order.orderid}"></td>
            <td th:text="${order.email}"></td>
            <td th:text="${order.date}"></td>
            <td colspan="4">
                <table>
                    <tr th:each="cupcake : ${order.cupcakes}">
                        <td th:text="${cupcake.topping}"></td>
                        <td th:text="${cupcake.bottom}"></td>
                        <td th:text="${cupcake.price}"></td>
                        <td th:text="${cupcake.quantity}"></td>
                    </tr>
                </table>
            </td>
            <td><button type="submit" class="button">Done</button></td>

        </tr>
        </tbody>
    </table>
</div>
</main>
</body>
</html>