<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>

</header>



<main>

<div class="kurv-side">
        <form method="post" action="/order_here">
            <table class="orders">
                <thead>
                <tr>
                    <th>Topping</th>
                    <th>Bottom</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterér over cupcakes i kurven -->
                <tr th:each="cupcake : ${session.currentBasket.basket}">
                    <td th:text="${cupcake.topping}"></td>
                    <td th:text="${cupcake.bottom}"></td>
                    <td th:text="${cupcake.price}"></td>
                    <td th:text="${cupcake.quantity}"></td>
                </tr>
                </tbody>
            </table>

            <div class="button-group">
                <button class="button-order" type="submit">Order here</button>
            </div>
        </form>
    </div>

</main>
</body>
</html>