<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>

</header>





<div class="kurv-side">


    <div class="button-group">
        <button class="button-order-admin" type="submit" formaction="/loginCustomer">Email sendt</button>
        <button class="button-order" type="submit" formaction="/loginCustomer">Send email</button>
    </div>

    </form>
</div>

</div>



</body>
</html>