<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>
    <p class="balance" th:if="${session.currentUser != null}" th:text="'Konto: '+ ${session.currentUser.balance} + '$'">
    </p>

</header>





<div class="kurv-side">
    <div class = "title">
        <h1>Din indkøbskurv</h1>
    </div>

    <form method="post" action="/order_here">
        <table class="orders">
            <thead>
            <tr>
                <th>Topping</th>
                <th>Bottom</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                        <tr th:each="cupcake : ${session.currentBasket.basket}">
                            <td th:text="${cupcake.topping}"></td>
                            <td th:text="${cupcake.bottom}"></td>
                            <td th:text="${cupcake.price}"></td>
                            <td th:text="${cupcake.quantity}"></td>
                            <td><form method="post" action="/deleteCupcake">
                                <input type="hidden" name="cupcakeIndex" value="0">
                                <button class="buttonTable" type="submit" formaction="/deleteCupcake">Slet</button>
                            </form></td>
                        </tr>
            </tr>
            </tbody>
        </table>

        <p class="tekst" th:if="${session.currentBasket == null or session.currentBasket.basket == null or session.currentBasket.basket.isEmpty()}">
            Du har endnu ingen cupcakes i din indkøbskurv
        </p>


    <div class="button-group">

        <button class="button-order" type="submit" formaction="/order_here">Order here</button>
        <button class="button-order2" type="submit" formaction="/order_here">Tilbage</button>
    </div>

    </form>
</div>

</body>
</html>