<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>

</header>





<div class="kurv-side">
    <form method="post" action="/order_here">

        <div>
            <button class="button-order" type="submit" formaction="/order_here">Order here</button>
        </div>

    </form>
    <form method="post" action="/delete">

        <input type="hidden" name="cupcakeIndex" value="0">
        <button class="deletebutton" type="submit" formaction="/delete">slet</button>
    </form>
</div>

</div>


<tbody>
<tr th:each="basket: ${currentBasket}">
    <td th:text="${basket.getBasket().get(0)}"></td>
</tr>
</tbody>


</table>

</body>
</html>
