<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createuser</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>


</header>





<div class="login">
    <div class="form-container">
        <form method="post" action="/createuser">
            <div>
                <input class="button" type="navn" name="navn" placeholder="Navn" required />
            </div>
            <div>
                <input class="button" type="email" name="email" placeholder="Email" required />
            </div>
            <div>
                <input class="button" type="password" name="password" placeholder="Password" required />
            </div>

            <button class="button" formaction="/createuser" type="submit">Opret nu</button>
        </form>

    </div>
</div>




</body>
</html>