<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="logo">
        <img src="../public/images/olskerLogo.png" th:src="@{/images/olskerLogo.png}"/>
    </div>
    <div class="cupcakes-banner">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>

    </div>

</header>





<div class="login">
    <div class="form-container">
        <form method="post">
        <div>
            <input class="button" type="email" name="email" placeholder="Email" required />
        </div>
    <div></div>
            <input class="button" type="password" name="password" placeholder="Password" required />

            <div class="button-group">
                <button class="button" type="submit" formaction="/login">Log in</button>
            </div>
        </form>
    </div>
    </div>

</div>



</body>
</html>